# Backups. No need to clog the repo with these.
backups/bu_*

# The executable. You'll have to build this yourself.
rplace2.exe
rplace2

# Configuration, defaults are in config.example.yaml
config.yaml

# TODO
# Don't upload the database!
database.sqlite