-///////////////////////////////////////////////////////////////////////////////
-// Panels

-//=============================================================================
-// Center

.panel.pos-zoom.select-text
.panel.status

-//=============================================================================
-// Top left

.panel.button.donate

-//=============================================================================
-// Top right

.panel.button.settings.hidden
.panel.button.about

-//=============================================================================
-// Bottom left

.panel.button.bot.hidden
.panel.button.admin.hidden

-//=============================================================================
-// Bottom right

.panel.button.chat.hidden

-///////////////////////////////////////////////////////////////////////////////
-// Palette

.palette.hidden
	.colors
	.buttons
		.spacer
		form.cancel
			button
		form.submit
			button(disabled="disabled")
		.spacer

-///////////////////////////////////////////////////////////////////////////////
-// Canvas

canvas.place(noselect width=2000 height=2000)
.reticule
	img(src='/resources/select.svg')
canvas.bot.hidden(noselect)

-///////////////////////////////////////////////////////////////////////////////
-// Popups

.popup.about

