//-#############################################################################
//- Panels

//-/////////////////////////////////////////////////////////////////////////////
//- Center

.panel.pos-zoom.-select-text
.panel.status

//-/////////////////////////////////////////////////////////////////////////////
//- Top left

.panel.button.donate

//-/////////////////////////////////////////////////////////////////////////////
//- Top right

.panel.button.settings.-hidden
.panel.button.about

//-/////////////////////////////////////////////////////////////////////////////
//- Bottom left

.panel.button.bot.-hidden
.panel.button.admin.-hidden

//-/////////////////////////////////////////////////////////////////////////////
//- Bottom right

.panel.button.chat.-hidden

//-#############################################################################
//- Palette

.palette.-hidden
	.colors
	.buttons
		.spacer
		form.cancel
			button
		form.submit
			button(disabled="disabled")
		.spacer

//-#############################################################################
//- Canvas

canvas.place.-smooth-animation(noselect width=2000 height=2000)
.reticule
	img(src='/resources/images/select.svg')
canvas.bot.-hidden(noselect)

//-#############################################################################
//- Popups

.popup-grayout.-hidden


.popup.about.-hidden

//-/////////////////////////////////////////////////////////////////////////////
//- Account validation (landing from validation webflow)

.popup.validate.-hidden
	.text
	button.cancel

//-#############################################################################
//- Chat

.chat-parent.-hidden

	.top-bar
		button.cancel
	
	.ad-space

	.chat-log.-select-text

	form.chat-send(accept-charset="utf-8")
		input(type="text" enterkeyhint="send")