.panel.pos-zoom.select-text
.panel.about
.panel.status
.panel.players

.palette.hidden
	.colors
	.buttons
		.spacer
		form.cancel
			button
		form.submit
			button(disabled="disabled")
		.spacer

canvas(noselect width=2000 height=2000)
.reticule
	img(src='select.svg')

.popup.about

img#myimg(src='place.png' style='position: fixed; top: 200vh;')