////////////////////////////////////////////////////////////////////////////////
// Fonts

// TODO determine licenses for these fonts, replace if needed
@font-face
	font-family: "Noto Sans"
	font-weight: normal
	src: url("/resources/fonts/NotoSans-Regular.ttf")
@font-face
	font-family: "Noto Sans"
	font-weight: bold
	src: url("/resources/fonts/NotoSans-Bold.ttf")
@font-face
	font-family: "Noto Sans"
	font-weight: normal
	font-style: italic
	src: url("/resources/fonts/NotoSans-Italic.ttf")
@font-face
	font-family: "Noto Sans"
	font-weight: bold
	font-style: italic
	src: url("/resources/fonts/NotoSans-BoldItalic.ttf")
@font-face
	font-family: "Noto Sans Mono"
	src: url("/resources/fonts/NotoSansMono-VariableFont_wdth,wght.ttf")

////////////////////////////////////////////////////////////////////////////////
// General styles

.select-none
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none

.select-text
	-webkit-touch-callout: text
	-webkit-user-select: text
	-khtml-user-select: text
	-moz-user-select: text
	-ms-user-select: text
	user-select: text

.select-contain
	-webkit-touch-callout: contain
	-webkit-user-select: contain
	-khtml-user-select: contain
	-moz-user-select: contain
	-ms-user-select: contain
	user-select: contain

body
	background-color: #333
	margin: 0
	border: 0
	padding: 0
	width: 100vw
	height: 100vh
	font-size: 2vh

////////////////////////////////////////////////////////////////////////////////
// Panel styles

.panel
	position: fixed
	z-index: 200
	background: white
	box-shadow: 0 0 30px black
	border-radius: 100vh
	color: black
	font-size: 90%
	text-align: center

.panel.button
	border-radius: 1.5vh
	width: 6vh
	height: 6vh
	background-repeat: no-repeat

.panel.hidden
	display: none

//==============================================================================

.panel.pos-zoom
	font-family: "Noto Sans Mono"
	font-weight: 700
	top: 3vh
	left: 50vw
	transform: translateX(-50%)
	padding: 0.25em 1em 0.25em
	width: 12em

//==============================================================================

.panel.status
	font-family: "Noto Sans"
	font-weight: bold
	bottom: 3vh
	left: 50vw
	transform: translateX(-50%)
	padding: 0.25em 1em 0.25em
	width: 10em

	// Styles for cooldnwn appearance
	.timeleft
		display: inline-block
	img.timeleft
		width: 0.95em
		height: 0.95em
		transform: scale(1.5) translate(-20%, 7%)

.panel.status.wide
	width: 15em

//==============================================================================

.panel.button.donate
	top: 3vh
	left: 3vh

//==============================================================================

.panel.button.about
	top: 3vh
	right: 3vh

//==============================================================================

.panel.button.settings
	top: 3vh
	right: 12vh

//==============================================================================

.panel.button.bot
	bottom: 3vh
	left: 3vh
	background-image: url('/resources/bot.svg')
	background-size: 80%
	background-position: 55% 55%

//==============================================================================

.panel.button.admin
	bottom: 3vh
	left: 3vh

//==============================================================================

.panel.button.chat
	bottom: 3vh
	right: 3vh

////////////////////////////////////////////////////////////////////////////////
// Palette styles

.palette
	position: fixed
	z-index: 300
	bottom: 0vh
	left: 0
	width: 100vw
	background: white
	box-shadow: 0 0 10px black
	transition: bottom 0.5s ease-in-out

	>div
		display: block
		padding: 1.5vh
	
	.colors
		padding-bottom: 0
		display: grid
		grid-template-columns: repeat(16, 1fr)
		grid-column-gap: 0.3vh
		grid-row-gap: 0.3vh

		.color
			height: 3vh
			border: 1px solid black
		
		.color.selected
			border-color: white !important
			box-shadow: rgba(0, 0, 0, 100%) 0px 0px 10px 2px
	
	@media only screen and (orientation: landscape)
		.colors
			grid-template-columns: repeat(32, 1fr)
	
	.buttons
		display: flex
		height: 4vh

		.spacer
			flex: 1 1 auto

		form
			position: relative

		button
			//outline: 2px solid #d4d7d9
			outline: none
			border-radius: 100vh
			border: 2px solid #d4d7d9
			background: none
			background-position: center
			background-repeat: no-repeat
			width: 30vw
			height: 100%
		
		@media only screen and (orientation: landscape)
			button
				width: 12vw
			
		form.cancel button
			background-image: url("/cancel.svg")
			background-size: 2.5vh
			margin-right: 3vw
		form.submit button
			background-image: url("/submit.svg")
			background-size: 3.5vh
		
		form.submit button:not([disabled])
			border-color: #FF5500
			box-shadow: inset 0 0 0 2px #FF5500, inset -1px 0 0 2px #FF5500, inset 1px 0 0 2px #FF5500

.palette.hidden
	bottom: -20vh

////////////////////////////////////////////////////////////////////////////////
// Canvas styles

canvas
	position: fixed
	z-index: 0

	// This is VERY important for the transforms to apply properly.
	transform-origin: top left

	// Establish a default size
	// This is all kinda arbitrary, so I'm doing what I found was closest to
	// rplace.tk, which is these dimensions being 0.01x zoom.
	width: 500vmin
	height: 500vmin

	// Establish a default position, top-left corner of canvas in center
	top: 50vh
	left: 50vw

	// Disable anti-aliasing
	image-rendering: pixelated
	image-rendering: crisp-edges

.reticule
	position: fixed
	z-index: 1
	pointer-events: none

	img
		position: absolute
		top: 0
		left: 0
		bottom: 0
		right: 0
		transform: scale( (24/20) * 100% )

canvas.smooth-animation
	transition: transform 0.5s ease-out
